.content3 {
  flex: 1;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.text-container {
  max-width: 600px;
  margin: 0 auto;
}

p {
  font-weight: bold;
  font-family: "verdana";
  color: #3b429f;
  margin-top: 20px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 20px;
}
